.settings-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    align-items: center;
    justify-content: center;
}

.settings-panel {
    width: 500px;
    padding: 40px;
    align-items: center;
    border-radius: 15px;
    -unity-background-scale-mode: scale-to-fit;
}

.settings-title {
    font-size: 60px;
    color: rgb(20, 18, 15);
    -unity-font-style: normal;
    margin-bottom: 10px;
    -unity-text-align: middle-center;
    margin-top: 60px;
}

.settings-section {
    width: 70%;
    margin-bottom: 15px;
    align-items: stretch;
}

.settings-label {
    font-size: 35px;
    color: rgb(40, 35, 30);
    margin-bottom: 8px;
    -unity-text-align: middle-left;
}

.settings-slider {
    width: 100%;
    height: 30px;
}

.settings-slider .unity-base-slider__dragger {
    background-color: rgb(35, 75, 90);
    border-radius: 8px;
    width: 20px;
    height: 20px;
}

.settings-slider .unity-base-slider__tracker {
    background-color: rgb(80, 70, 60);
    border-radius: 5px;
    height: 8px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
}

.theme-section {
    width: 75%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.theme-label {
    font-size: 30px;
    color: rgb(40, 35, 30);
    -unity-text-align: middle-left;
}

.theme-toggle {
    width: 60px;
    height: 30px;
}

.settings-button {
    width: 200px;
    height: 45px;
    font-size: 35px;
    color: rgb(255, 255, 255);
    background-color: rgb(35, 75, 90);
    border-width: 3px;
    border-color: rgb(127, 179, 192);
    border-radius: 10px;
    margin-top: 20px;
    -unity-text-align: middle-center;
}

.settings-button:hover {
    background-color: rgb(232, 214, 107);
    border-color: rgb(255, 240, 150);
    color: rgb(30, 30, 30);
    scale: 1.05;
}

.settings-button:active {
    background-color: rgb(40, 70, 80);
    scale: 0.95;
}
