.pause-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.74);
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.95);
}

.pause-panel {
    width: 400px;
    padding: 40px;
    align-items: center;
    border-radius: 15px;
    -unity-background-scale-mode: scale-to-fit;
}

.pause-title {
    font-size: 95px;
    color: rgb(0, 0, 0);
    -unity-font-style: normal;
    margin-bottom: 50px;
    -unity-text-align: middle-center;
    margin-top: 60px;
    -unity-font-definition: url("project://database/Assets/_Project/Fonts/BoldPixels.ttf?fileID=12800000&guid=89ae0ccf11ce0314bb60394e36bc1305&type=3#BoldPixels");
    letter-spacing: 5px;
}

.pause-button {
    width: 350px;
    height: 80px;
    font-size: 40px;
    color: rgb(255, 255, 255);
    background-color: rgb(35, 75, 90);
    border-width: 3px;
    border-color: rgb(127, 179, 192);
    border-radius: 10px;
    margin-bottom: 15px;
    -unity-text-align: middle-center;
    letter-spacing: 3px;
    -unity-font-definition: url("project://database/Assets/_Project/Fonts/BoldPixels.ttf?fileID=12800000&guid=89ae0ccf11ce0314bb60394e36bc1305&type=3#BoldPixels");
}

.pause-button:hover {
    background-color: rgb(232, 214, 107);
    border-color: rgb(255, 240, 150);
    color: rgb(30, 30, 30);
    scale: 1.05;
}

.pause-button:active {
    background-color: rgb(40, 70, 80);
    scale: 0.95;
}
